
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    position:fixed;
    right: 0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;

}
