*{
    margin: 0;
    box-sizing: border-box;
    font-family:"Montserrat";
    
}



:root{
    --fondo: hsl(0, 0%, 8%);
    --clr-tarjeta:hsl(0, 0%, 12%);
    --clr-texto:hsl(75, 94%, 57%);
    --clr-enlaces:hsl(0, 0%, 20%);

}

body{
    background-color: var(--fondo);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
    border-radius: 1rem;
    width: 25%;
    height: 85%;
    display: flex;
    flex-direction: column;  
    background-color: var(--clr-tarjeta);
}

.card__upper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 45%;
}

.upper__name{
    font-size: 2rem;
}

.upper__img{
    width: 100px;
    margin: 2rem;
    border-radius:50% ;
}

.upper__ubication{
    color: var(--clr-texto);
    font-size:1.2rem;

}

.card__lower{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
}

.lower__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    
}

.list__button{
    background-color: var(--clr-enlaces);
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.list__link{
    text-decoration: none;
    color:inherit;
}

.list__button:hover{
transform: scale(1.1);

}